{% extends "./plantillaPrincipal.html" %}
{% block contenido %}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>
                <h1><b>Registrar Nuevo Curso</b></h1>
                <hr>
                <form enctype="multipart/form-data" id="form_nuevo_curso" action="/guardarCurso/" method="post">
                    {% csrf_token %}
                    <b>Nombre: </b><br>
                    <input required minlength="3" maxlength="20" pattern="[A-Za-z]+"  
                        placeholder="Ingrese el nombre del Curso" type="text" class="form-control" name="nombre">
                    <br>
                    <b>Descripción: </b><br>
                    <input required minlength="3" maxlength="100" 
                        placeholder="Ingrese la descripción del Curso" type="text" class="form-control" name="descripcion">
                    <br>
                    <b>Fecha de Inicio: </b><br>
                    <input required type="date" class="form-control" name="fecha_inicio">
                    <br>
                    <b>Fecha de Fin: </b><br>
                    <input required type="date" class="form-control" name="fecha_fin">
                    <br>
                    <b>Técnico: </b><br>
                    <select required class="form-control" name="tecnico_id">
                        <option value="">Seleccione un técnico</option>
                        {% for tecnico in tecnicos %}
                            <option value="{{ tecnico.id }}">{{ tecnico.nombre }} {{ tecnico.apellido }}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <br>
                    <br>
                    <button class="btn btn-success" type="submit"> <i class="bi bi-save"></i>  Guardar</button>
                         o   <a href="/listadoCursos" class="btn btn-danger"><i class="bi bi-x-circle"></i> Cancelar</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#form_nuevo_curso").validate({
                rules: {
                    nombre: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    },
                    descripcion: {
                        required: true,
                    },
                    fecha_inicio: {
                        required: true
                    },
                    fecha_fin: {
                        required: true
                    },
                    tecnico_id: {
                        required: true
                    }
                
                },
                messages: {
                    nombre: {
                        required: "Por favor, ingrese el nombre del curso.",
                        minlength: "El nombre debe tener al menos 3 caracteres.",
                        maxlength: "El nombre no puede exceder los 20 caracteres."
                    },
                    descripcion: {
                        required: "Por favor, ingrese la descripción del curso.",
                        minlength: "La descripción debe tener al menos 3 caracteres.",
                        maxlength: "La descripción no puede exceder los 100 caracteres."
                    },
                    fecha_inicio: {
                        required: "Por favor, ingrese la fecha de inicio del curso."
                    },
                    fecha_fin: {
                        required: "Por favor, ingrese la fecha de fin del curso."
                    },
                    tecnico_id: {
                        required: "Por favor, seleccione un técnico."
                    }
                }
            });
        });
    </script>  
    {% endblock %}