{% extends "./plantillaPrincipal.html" %}
{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <br>
            <h1><b>Registrar Nuevo Certificado</b></h1>
            <hr>

            <form id="form_nuevo_certificado"
                  action="/guardarCertificado/"
                  method="post">

                {% csrf_token %}

                <b>Técnico:</b>
                <br>

                <select required class="form-control" name="tecnico">
                    <option value="">Seleccione un Técnico</option>

                    {% for tecnico in tecnicos %}

                        <option value="{{ tecnico.id }}">
                            {{ tecnico.nombre }} {{ tecnico.apellido }}
                        </option>

                    {% endfor %}
                </select>

                <br>

                <b>Curso:</b>
                <br>

                <select required class="form-control" name="curso">
                    <option value="">Seleccione un Curso</option>

                    {% for curso in cursos %}

                        <option value="{{ curso.id }}">
                            {{ curso.nombre }}
                        </option>

                    {% endfor %}
                </select>

                <br>

                <b>Estado del Curso:</b>
                <br>

                <select required class="form-control" name="aprobacion">

                    <option value="">
                        Seleccione una opción
                    </option>

                    <option value="Aprobado">
                        Aprobado
                    </option>

                    <option value="Reprobado">
                        Reprobado
                    </option>

                </select>

                <br><br>

                <button class="btn btn-success" type="submit">
                    <i class="bi bi-save"></i>
                    Guardar
                </button>

                o

                <a href="/listadoCertificados/" class="btn btn-danger">
                    <i class="bi bi-x-circle"></i>
                    Cancelar
                </a>

            </form>

        </div>
    </div>
</div>


<script>

$(document).ready(function(){

    $("#form_nuevo_certificado").validate({

        rules:{

            tecnico:{
                required:true
            },

            curso:{
                required:true
            },

            aprobacion:{
                required:true
            }

        },

        messages:{

            tecnico:{
                required:"Seleccione un técnico."
            },

            curso:{
                required:"Seleccione un curso."
            },

            aprobacion:{
                required:"Seleccione el estado del curso."
            }

        }

    });

});

</script>

{% endblock %}